<template>
  <div id="app">
    <!--v-show=isLogged-->
    <div class="vueCont">
      <div class="todoApp">
        <h1>todos</h1>
        <form id="form">
          <input
            type="text"
            id="input"
            class="input"
            placeholder="Enter your todo"
            autocomplete="off"
          />
          <ul class="todos" id="todos">
            <li
              v-for="todo in todoArr"
              :key="todo.id"
              :class="{ completed: todo.completed }"
              id="idCont"
              @click="clickTodo(todo.id)"
            >
              {{ todo.title }} {{ todo.id
              }}<button
                class="button-delete"
                type="button"
                @click="rightClickTodo(todo.id)"
              >
                X
              </button>
            </li>
          </ul>
        </form>
        <small
          >Left click to toggle complete.<br />Right click to delete the
          todo.</small
        >
      </div>
    </div>
  </div>
</template>

<script>
import todoApi from "./../api/todoApi";
export default {
  name: "app",
  data() {
    return {
      mensaje: window.myapp.message,
      isLogged: false,
      userId: JSON.parse(localStorage.getItem("userId")),
      form: document.getElementById("form"),
      input: document.getElementById("input"),
      todosUL: document.getElementById("todos"),
      todoLI: document.getElementsByTagName("li"),
      todoArr: [],
      idCont: JSON.parse(localStorage.getItem("contador")),
      todosLS: JSON.parse(localStorage.getItem("todosLS")),
      todo: null,
    };
  },
  methods: {
    handleNotify() {
      this.mensaje = ``;
      window.myapp.notify(mensaje);
    },
    clickTodo(element) {
      for (let i = 0; i < this.todoArr.length; i++) {
        let todoElement = this.todoArr[i];
        if (todoElement.id == element) {
          todoElement.completed = !todoElement.completed;
          this.todoLI[i].className = todoElement.completed ? "completed" : "";
          this.updateLocalStorage();
          this.updateTodo(todoElement);
          break;
        }
      }
    },
    rightClickTodo(element) {
      this.removeTodo(element);
      for (let i = 0; i < this.todoArr.length; i++) {
        let todoElement = this.todoArr[i];
        if (todoElement.id == element) {
          this.todoArr.splice(i, 1);
          this.updateLocalStorage();
        }
      }
    },
    updateLocalStorage() {
      const todos = [];
      this.todoArr.forEach((element) => {
        todos.push({
          userId: this.userId,
          id: element.id,
          title: element.title,
          completed: element.completed,
        });
      });
      localStorage.setItem("todosLS", JSON.stringify(todos));
      localStorage.setItem("contador", JSON.stringify(this.idCont));
    },
    addTodo() {
      let todoText = input.value;
      this.idCont++;
      this.todo = {
        userId: this.userId,
        id: this.idCont,
        title: todoText,
        completed: false,
      };
      if (todoText) {
        if (todoText != "") {
          this.todoArr.push(this.todo);
          this.createTodo(this.todo);
          this.updateLocalStorage();
        }
      }
    },
    addTodoLS() {
      if (this.todosLS) {
        this.todosLS.forEach((element) => {
          this.todo = {
            userId: this.userId,
            id: element.id,
            title: element.title,
            completed: element.completed,
          };
          this.todoArr.push(this.todo);
          this.idCont = JSON.parse(localStorage.getItem("contador"));
        });

        this.updateLocalStorage();
      }
    },
    addTodoAPI() {
      if (this.userId != null) {
        $("#log-in").addClass("hide");
        $("#log-out").removeClass("hide");
        const todoApiArr = todoApi.get(`/?userId=${this.userId}`);
        todoApiArr.then((element) => {
          this.todoArr = element.data;
          for (let i = 0; i < element.data.length; i++) {
            const todoItem = this.todoArr[i];
            const cont = 0;
            if (todoItem.id > cont) {
              cont = todoItem.id;
              localStorage.setItem("contador", JSON.stringify(cont));
            }
            this.idCont = JSON.parse(localStorage.getItem("contador"));
            this.updateLocalStorage();
          }
        });
      }
    },
    removeTodo(taskId) {
      if(taskId){
        const removeTodo = todoApi.delete(`/${taskId}`);
        removeTodo.then(response => console.log(response));
      }
    },
    updateTodo(task) {
      if(task){
        const updateTodo = todoApi.put(`/${task.id}`, {
          id: task.id,
          userId: task.userId,
          title: task.title,
          completed: task.completed
        });
        updateTodo.then(response => console.log(task, "Updated:", response));
      }
    },
    createTodo(task) {
      if(task){
        const createTodo = todoApi.post('',{
          id: task.id,
          userId: task.userId,
          title: task.title,
          completed: task.completed
        });
        createTodo.then(response => console.log(task, "Created:", response));
      }
    },
  },
  mounted() {
    window.addEventListener("onNotify", () => {
      this.mensaje = window.myapp.message;
    });
    window.addEventListener("onValidate", () => {
      this.isLogged = window.myapp.isLogged;
    });
    window.addEventListener("onUserListener", (param) => {
      this.userId = param.detail.userId;
      localStorage.setItem("userId", JSON.stringify(this.userId));
      this.userId = JSON.parse(localStorage.getItem("userId"));
      this.addTodoAPI();
      if (this.userId == null) {
        window.myapp.logout();
        this.todoArr = [];
        localStorage.setItem("contador", JSON.stringify(0));
        this.idCont = JSON.parse(localStorage.getItem("contador"));
        this.updateLocalStorage();
      }
    });
    form.addEventListener("submit", (e) => {
      e.preventDefault();
      this.addTodo();
    });
    this.addTodoAPI();
    this.addTodoLS();
  },
};
</script>
<style scoped>
.vueCont {
  width: 100%;
  color: #444;
  font-family: "Poppins", sans-serif;
  margin: 0;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.todoApp {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h1 {
  color: rgb(131, 172, 226);
  font-size: 9rem;
  text-align: center;
  opacity: 0.4;
  margin: 10px 0 10px 0;
}

form {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  width: 400px;
}

.input {
  border: none;
  color: #444;
  font-size: 2rem;
  padding: 1rem 2rem;
  display: block;
  width: 84%;
}

.input::placeholder {
  color: #d5d5d5;
}

.todos {
  background-color: #fff;
  padding: 0;
  margin: 0;
  list-style-type: none;
  height: auto;
  max-height: 300px;
  overflow-y: scroll;
  width: 100%;
}

.todos::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgb(245, 245, 245, 0);
}

.todos::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(0, 0, 0, 0);
}

.todos::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgb(36, 63, 99);
}

.todos li {
  border-top: 1px solid #e5e5e5;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  position: relative;
}
.button-delete {
  background-color: rgba(0, 0, 0, 0);
  color: #b5b5b5;
  position: absolute;
  border: 0;
  left: 90%;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
}

.todos li.completed {
  color: #b6b6b6;
  text-decoration: line-through;
}

small {
  color: #b5b5b5;
  margin-top: 3rem;
  text-align: center;
}
@media only screen and (min-width: 1920px) {
  .contViewApp {
    top: 100px;
  }
}
</style>
